<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div align="center">
		<h1>Students Details</h1>
		<hr>
		<a th:href="@{/savestudent}"> save </a>
		<table border="1">
			<thead>
				<tr>
					<th>Student Name</th>
					<th>Student Address</th>
					<th>Student Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${listdetails}">
					<td th:text="${student.name}"></td>
					<td th:text="${student.address}"></td>
					<td th:text="${student.email}"></td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>